Repository kozurasergj/github-kanban: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write, stylelint

change inteface
  src/components/GithubIssue/GithubIssue.tsx
Due: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write

fix interface
  src/components/GithubIssue/GithubIssue.tsx
Due: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write

Update README.md
  README.md
Due: none

added Redux/Redux-thunk
  package.json
  src/components/GithubIssue/GithubIssue.tsx
  src/components/Page.tsx
  src/interface/interface.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/store/actionTypes.ts
  src/store/reducer.ts
  src/store/store.ts
  yarn.lock
Due: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write

added drag and drop with bag
  r.txt
  src/interface/interface.ts
  src/store/actionTypes.ts
  src/store/reducer.ts
  src/store/store.ts
Due: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write

added basic logic
  package.json
  r.txt
  src/components/GithubIssue/GithubIssue.tsx
  src/components/Page.tsx
  src/interface/interface.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/store/actionTypes.ts
  src/store/getIssuesCreator.ts
  src/store/reducer.ts
  src/store/reducerApiGitHub.ts
  src/store/reducerDragDrop.ts
  src/store/store.ts
  src/styles/globals.css
  yarn.lock
Due: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write, stylelint

achanged interface
  package.json
  src/interface/interface.ts
  src/store/getIssuesCreator.ts
Due: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write

added Cypress
  .eslintrc
  cypress.config.ts
  cypress/e2e/form.cy.js
  cypress/e2e/issue.cy.js
  cypress/fixtures/example.json
  cypress/screenshots/form.cy.js/Form -- should submit the form with a valid URL (failed).png
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package.json
  src/components/GithubIssue/GithubIssue.tsx
  src/pages/_app.tsx
  tsconfig.json
  yarn.lock
Due: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write

added sanity url for cypress, did drag and drop test
  cypress.config.ts
  cypress/e2e/form.cy.js
  cypress/e2e/issue.cy.js
  cypress/screenshots/form.cy.js/Form -- should submit the form with a valid URL (failed).png
  next.config.js
  package.json
  src/components/GithubIssue/GithubIssue.tsx
  yarn.lock
Due: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write

Create test.yml
  .github/workflows/test.yml
Due: none

added workflow
  .github/workflows/test.yml
  cypress/e2e/form.cy.js
Due: none

fix workflow
  .github/workflows/test.yml
Due: none

fix workflow - not found test
  .github/workflows/test.yml
Due: none

workflow - changed
  .github/workflows/test.yml
  package.json
Due: none

changed form.cy.is and workflow
  .github/workflows/deployment.yml
  cypress/e2e/form.cy.js
Due: none

Cache node modules workflow
  .eslintrc
  .github/workflows/deployment.yml
Due: none

added bg and description
  public/bg.jpg
  public/favicon.ico
  src/components/GithubIssue/GithubIssue.tsx
  src/components/Page.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/styles/globals.css
Due: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write, stylelint

fix problem with eslint
  src/components/GithubIssue/GithubIssue.tsx
Due: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write

fix bag copy issue
  src/components/GithubIssue/GithubIssue.tsx
  src/interface/interface.ts
  src/store/actionTypes.ts
  src/store/reducerApiGitHub.ts
Due: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write

clean a bit
  src/components/GithubIssue/GithubIssue.tsx
  src/store/actionTypes.ts
  src/store/reducerApiGitHub.ts
Due: eslint --ignore-path .gitignore, prettier --ignore-path .gitignore --write

Path conditions:
  eslint --ignore-path .gitignore: any of: ./src/**/*.{ts,js,jsx,tsx}
  prettier --ignore-path .gitignore --write: any of: ./src/**/*.{ts,js,jsx,tsx}
  stylelint: any of: **/*.css
